<div>
  <ul class="header" id="header-id">
    <li><%=link_to '自己紹介',"#profile-id"%></li>
    <li><%=link_to '経歴', '#career-id'%></li>
    <li><%=link_to '作成物', '#create-id'%></li>
  </ul>
  <div class="background-image">
    <div class="frontcolor">
    </div>
     <div class="svgall">
    <svg class="mask" viewBox="0 0 297 210"  id="move">
      <defs>
        <!-- アニメーション画像 -->
        <mask id="clipMask">
          <!--マスクのpath-->
          <path
       style="fill:none;stroke:#fff;stroke-width:6.765;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 31.215756,52.021395 7.464612,-8.042346 0.459031,-7.358002 -4.092323,-2.203558 -5.3515,1.469038 -6.19095,3.672599 -5.561362,7.240265 -0.629588,8.709303 5.036705,7.030402 9.968481,11.647382 -0.524658,8.289578 -1.888766,4.512048 -4.616978,4.826841 -8.184647,2.098628 -9.2339604,-3.567666 -0.2098628,-0.209862"
       id="path1326" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3.7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 48.186,30.90867 -9.603,63.338181 2.065117,-8.971795 2.163881,-4.897627 1.783832,-4.616982 2.833148,-4.616979 3.147941,-1.678903 1.364107,0.944382 0.524658,1.888765 -2.098628,16.369292 0.734521,4.197255 1.469038,-0.419725 3.598309,-3.732522 v 0 -1.2e-5"
       id="path1330"
       sodipodi:nodetypes="ccccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 63.103,67.688557 -3.501983,22.237626 1.888765,3.357803 2.518352,-0.209862 2.098627,-1.36411 2.775342,-3.578267 L 73.008,67.688557 71.143468,82.16126 69.682,88.131747 l 1.356537,5.152239 2.41342,-1.993696 2.275708,-2.578278 v 0 l -0.50474,-0.6249"
       id="path1332"
       sodipodi:nodetypes="cccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 82.887,67.688557 -4.64,26.558293 3.127466,-10.17696 3.200217,-7.050267 3.043007,-5.456431 3.147942,-2.413421 1.993696,0.779229 0.209865,3.208164 -2.203561,16.579154 0.73452,3.542682 2.098627,-1.339121 2.539378,-3.832767"
       id="path1334"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 108.75671,74.473196 -0.0301,-4.534942 -2.38365,-0.866778 -2.49199,0.758431 -1.89608,2.166948 -0.8126,3.792159 1.62521,3.575465 4.55059,6.121628 0.16252,3.142075 -1.19182,2.491991 -2.38364,2.221122 -3.3046,0.379216 -2.654509,-4.008855 0.463441,-1.713815"
       id="path1340" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 117.136,67.389 -2.992,19.343104 0.59591,5.959107 2.27529,0.920953 3.68382,-2.437817 2.8712,-4.171376 3.54178,-19.564971 -2.29578,15.014381 -0.32505,9.751266 1.51687,0.920954 3.85317,-4.412589 V 88.712"
       id="path1342"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 141.8,30.409 -5.47768,35.633637 -2.94751,19.158812 -0.48581,9.163551 1.83035,-10.652197 v 0"
       id="path1344"
       sodipodi:nodetypes="cccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4.8;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 148.474,68.889 -7.91464,4.153972 -1.19742,1.197425 -0.41537,2.062866 -1.67196,2.990599 -2.55526,4.418941 v 0"
       id="path1346"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 141.57257,34.356907 Z"
       id="path1348" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 138.494,79.772 5.2892,12.890331 2.21063,-0.276328 2.98448,-3.450812 0.49969,-1.91e-4"
       id="path1350"
       sodipodi:nodetypes="ccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3.6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 153.04779,84.09 4.18342,-2.849268 1.75009,-2.486961 2.11852,-3.592277 0.64477,-3.500168 -0.55266,-2.855399 -1.38165,-0.644769 -1.75008,0.736878 -2.02641,2.210631 -2.39485,4.513376 -2.02642,6.079239 -0.0921,5.06603 1.47376,4.421264 2.67118,2.302743 2.21063,-0.552659 1.84219,-0.921097 1.75009,-1.750084 2.2422,-2.715998 v 0"
       id="path1352"
       sodipodi:nodetypes="ccccccccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:5.6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 202.411,54.030006 7.59905,-12.764873 -1.0132,-5.250251 -2.67118,-1.473753 -3.7765,0.276328 -4.60548,1.842193 -3.50017,2.302743 -3.50017,3.592277 -2.76329,4.973921 -1.47375,5.895019 1.10531,4.329155 11.32949,11.32949 3.59228,5.89502 -0.36844,4.973923 -1.38164,4.237043 -2.30275,3.960717 -3.31594,3.500168 -4.23705,1.565865 -7.92143,-0.184222 -5.43447,-2.30274 V 90.728"
       id="path1354"
       sodipodi:nodetypes="ccccccccccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 212.885,67.289 -3.61182,21.873164 1.65797,3.776496 2.48696,0.36844 2.30275,-1.657974 3.19571,-5.793804 v 0"
       id="path1358"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 222.79,67.189 -2.816,14.972829 -0.10822,8.19776 1.01321,2.947511 2.39485,-1.934303 1.73117,-3.285685 v 0"
       id="path1360"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:5.367;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 229.38384,69.330311 11.20145,-0.629257 -14.32942,24.460598 12.309,2e-6 0.31081,-6.113868"
       id="path1362"
       sodipodi:nodetypes="ccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4.1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 247.247,66.919 -3.06425,21.045739 0.73687,4.605483 2.57907,0.828987 2.39485,-1.473755 3.34548,-6.070132 v 0"
       id="path1364"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 257.013,67.189 -2.42186,14.512282 -0.46055,8.842528 0.9211,2.855399 2.11852,-1.289537 2.66199,-3.39766 v 0"
       id="path1366"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 271.871,30.409 -3.83184,24.488366 -4.6976,30.580412 -0.28156,7.787084 1.63033,-9.552059 v 0"
       id="path1368"
       sodipodi:nodetypes="cccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3.8;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 277.27732,69.459 -3.8037,0.912792 -3.50017,3.500167 -2.72786,5.421903 -2.55526,4.418941 v 0"
       id="path1370"
       sodipodi:nodetypes="cccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3.8;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 267.846,79.293862 6.18028,13.829019 2.11852,-0.921096 2.80448,-3.766785"
       id="path1372"
       sodipodi:nodetypes="cccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 287.43526,50.191328 0.039,4.982366"
       id="path1374" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 285.42,67.089 -3.10385,15.257048 -0.18422,5.710801 0.92109,4.97392 1.10532,-0.644766 3.78164,-3.673991"
       id="path1376"
       sodipodi:nodetypes="cccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3.05626;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 35.281498,149.90261 10.219388,1.25004 v 0"
       id="path1378" />
    <path
       style="fill:none;stroke:#fff;stroke-width:7.2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 81.446461,121.933 -8.423206,38.331 6.939119,-24.57911 4.463415,-5.13986 5.008398,-5.11728 5.988302,-3.4841 6.859331,-0.87103 3.81074,6.31494 -4.57288,9.90792 -4.028504,4.79064 -3.919617,2.83084 -6.206059,2.5042 -7.2615,-0.91253"
       id="path1380"
       sodipodi:nodetypes="ccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4.8;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 116.49973,143.06603 -7.73035,4.13737 -2.72038,6.58877 1.95823,3.42803 2.72196,2.06869 2.39532,0.21776 2.93971,-0.65327 6.68578,-5.11728 1.367,-6.32791 -1.52008,-2.92674 -3.15747,-1.5243 H 115.835"
       id="path1382"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 129.11567,151.12251 3.82468,-3.37472 2.51277,-3.73471 -0.44408,-3.34237 -1.85093,-1.19766 -1.63318,1.08878 v 2.39532 l 0.87103,0.65327 5.11728,1.5243 3.99657,-0.86048 -4.32321,7.06654 -3.2046,5.66167 2.87797,1.74205 2.17756,-0.10888 5.13747,-2.95728"
       id="path1384"
       sodipodi:nodetypes="ccccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 147.44617,143.86799 13.91834,-0.98662"
       id="path1388" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4.1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 155.974,133.144 -6.59303,21.13649 0.65327,3.59298 1.74205,0.97991 1.85093,-0.10888 2.93971,-1.08878 2.79205,-1.77426"
       id="path1390"
       sodipodi:nodetypes="ccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 162.72827,143.86799 13.83812,-0.98662"
       id="path1392" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 186.631,120.253 -2.95338,-1.24906 -4.35513,0.54439 -3.77549,2.39532 -14.51606,43.33354 -1.74205,2.5042 -2.93971,1.85093 -3.26635,0.65327 -4.59183,0.0759"
       id="path1394"
       sodipodi:nodetypes="ccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 186.61733,143.06603 -5.22615,2.39532 -4.24626,5.0084 -0.71792,4.35513 1.04456,2.61308 1.85093,1.30654 2.72196,0.87102 5.11727,-0.9799 5.0084,-4.68176 1.92388,-5.11728 -1.37948,-4.0285 -2.5042,-1.63317 z"
       id="path1396"
       sodipodi:nodetypes="ccccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 212.149,117.577 -11.26862,38.6633 1.41542,2.06869 2.06869,0.21775 3.72875,-3.37774"
       id="path1402"
       sodipodi:nodetypes="ccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:6.406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 219.96594,131.01299 219.6062,134.769"
       id="path1404"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 217.003,141.588 -3.92825,12.25698 0.54439,4.24625 2.5042,0.65327 4.48438,-2.68892"
       id="path1406"
       sodipodi:nodetypes="ccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 234.95928,143.17491 -5.87943,1.74205 -4.46401,6.31494 0.21776,5.77055 2.06869,1.63317 3.59298,0.87103 5.11728,-1.30654 5.21745,-5.66167 0.44422,-7.07709 -2.5042,-1.85093 z"
       id="path1408"
       sodipodi:nodetypes="ccccccccccc" />
    <path
       style="fill:none;stroke:#fff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 264.00728,151.18054 10.14796,-1.30582"
       id="path1410" />
        </mask>
      </defs>
      <!-- ベース画像 -->
      <image xlink:href="/svg/title1.svg" width="100%" height="100%" mask="url(#clipMask)"></image>
    </svg>

  </div>
  
  <script>
    new Vivus('move', {
      type: 'scenario-sync',
      duration: 5,
      forceRender: false,
      animTimingFunction: Vivus.EASE
    })
  </script>
  </div>

  <div class="profile">
    <p class="profile-title" id="profile-id">- 自己紹介 -</p>
      <div class="profile-box">
      <ul class="item-box">
        <li class="item">氏名：</li>
        <li class="content">鈴木 洵輔</li>
      </ul>
      <ul class="item-box">
        <li class="item">年齢：</li>
        <li class="content">23歳</li>
      </ul>
      <ul class="item-box">
        <li class="item">趣味：</li>
        <li class="content">筋トレ、釣り</li>
      </ul>
      <ul class="item-box">
        <li class="item">筋トレの成果：</li>
        <li class="content">前職を退職後から現在までで14kgの減量に成功。</li>
      </ul>
      <ul class="item-box">
        <li class="item">エンジニアへの思い：</li>
        <li class="content">前職ではIT商材の営業をしていたため、他社のWEBサービスや自社製品に触れていく中で、「どのように作っているのだろう」と興味が湧きプログラミングに触れたことが大きなきっかけとなった。
        <br>
        プログラミングはひたすら追求することができて、その結果知識が増えれば増えるほど開発できる物が増えていくところが本当に面白い！
        <br>
        どんどんスキルを身につけて人々の頭の中で思い描く物を現実の物に変えていきたい。</li>
      </ul>
      <ul class="item-box">
        <li class="item">はてなブログ：</li>
        <li class="content">pythonの学習内容をアウトプット
        <br>
        <%=link_to 'https://hanamichi-sukusuku.hatenablog.com/' %></li>
      </ul>
      </div>
  </div>

  <div class="career">
  <p id="career-id">- 経歴 -</p>
  <ul class="career-box">
    <li>大学時代、ガールズバーの店長を経験。就任当時から約1年半で200万円から930万円まで増加させる。</li>
    <li>大学卒業後、IT商材の営業会社に入社。</li>
    <li>前職でIT関連のサービスに触れ、個人的にプログラミンングに触れ、仕事にしていきたいと感じ転職を決意。</li>
    <li>退職後、独学でエンジニアを目指しアルバイトしながら学習。</li>
    <li>独学の途中で、コードを書くだけではエンジニアになれないと感じプログラミングスクールに入学。</li>
    <li>プログラミングスクールではコードを書くだけでなくGitHub、デプロイ、AWSなどを扱うことができ、エンジニアとして必要な基礎を学ぶ。</li>
    <li>現在、プログラミングスクールを卒業し、オリジナルアプリの開発、pythonの学習、paizaにてAランクに挑戦中。</li>
  </ul>
  </div>

  <div class="creation">
    <p class="create-p" id="create-id">-  作成物 -</p>
    <div class="furima-box">
      <p id="furima">・フリマアプリ</p>
      <div class="gif-box">
         <p>出品機能</p>
         <div class="listing">
           <%=image_tag '/images/出品.gif'%>
           <%=image_tag '/images/出品一覧.gif'%>
         </div>
         <p>検索機能</p>
         <div>
            <%=image_tag '/images/検索.gif', class: "search"%>
         </div>
         <p>購入機能</p>
        <div class="shopping">
          <%=image_tag '/images/購入.gif'%>
          <%=image_tag '/images/購入後.gif'%>
        </div>
      </div>
      <ul class="item-box">
        <li class="item">内容:</li>
        <li class="content">ユーザーが自由に商品の出品、購入ができるアプリケーション。</li>
      </ul>
      <ul class="item-box">
        <li class="item">GitHub URL:</li>
        <li class="content"><%=link_to 'https://github.com/osyun0101/furima-29762','https://github.com/osyun0101/furima-29762'%></li>
      </ul>
      <ul class="item-box">
        <li class="item">Heroku URL:</li>
        <li class="content"><%=link_to 'https://furima-29762.herokuapp.com', 'https://furima-29762.herokuapp.com'%></li>
      </ul>
      <ul class="item-box">
        <li class="item">使用技術:</li>
        <li class="content">HTML/CSS,JavaScript,Ruby,Ruby on Rails,MySQL2</li>
      </ul>
    </div>

    <div class="furima-box">
      <p id="furima">・TESMA</p>
      <div class="tesma-box">
         <div>
           <p>カロリー計算機能</p>
           <%=image_tag '/images/calory.gif'%>
         </div>
         <div>
            <p>基礎代謝管理機能</p>
            <%=image_tag '/images/metabolism.gif'%>
         </div>
        <div>
          <p>目標設定機能</p>
          <%=image_tag '/images/target.gif'%>
        </div>
        <div>
          <p>目標進捗管理機能</p>
          <%=image_tag '/images/progress.gif'%>
        </div>
      </div>
      <ul class="item-box">
        <li class="item">内容:</li>
        <li class="content">どの期間で体重を何キロにしたいのか目標の設定をすることで1日の摂取カロリーが算出され、毎日の食事をその摂取カロリーまでに抑えれば設定した期間に目標の体重に到達することができるアプリケーション。</li>
      </ul>
      <ul class="item-box">
        <li class="item">GitHub URL:</li>
        <li class="content"><%=link_to 'https://github.com/osyun0101/TESMA', 'https://github.com/osyun0101/TESMA'%></li>
      </ul>
      <ul class="item-box">
        <li class="item">Heroku URL:</li>
        <li class="content"><%=link_to 'https://tesma.herokuapp.com','https://tesma.herokuapp.com'%></li>
      </ul>
      <ul class="item-box">
        <li class="item">使用技術:</li>
        <li class="content">HTML/CSS,JavaScript,Ruby,Ruby on Rails,MySQL2</li>
      </ul>
    </div>
  </div>

  <div class="footer">
    <p>Shunsuke Suzuki</p>
    <p>- Portfolio -</p>
  </div>
</div>
